.footer {
  background-color: #5F37B6;
}

.footer__container {
	width: 1400px;
	margin: 0 auto;
	padding: 40px 15px 60px;
}


.footer__top {
	display: flex;
	gap: 170px;
	margin-bottom: 40px;
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
}
.footer__wrapper h2 {
	color: #EDEDFA;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 0.04px;
}

.footer__wrapper span {
	color: #D8D8E5;
  font-weight: 400;
  font-size: 14px;
  letter-spacing: 0.03px;
	line-height: 22px;
}


.footer__bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.footer__copyright {
	color: #D8D8E5;
}
