.header {
  border-bottom: 1px solid #E6E8F5;
}
.header__container {
	width: 1400px;
	margin: 0 auto;
	padding: 12px 15px;
}

.nav {
	display: flex;
	align-items: center;
}

.nav ul {
	list-style: none;
	display: flex;
	align-items: center;
	gap: 20px;
}

.nav a {
	display: block;
	color: #393C41;
	letter-spacing: 0.04px;
	font-size: 15px;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
}
