@import url('../menu.css');

.header {
  border-bottom: 1px solid #E6E8F5;
}
.header__container {
	width: 100%;
	padding: 12px 15px;
}


.header__nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header__open {
    border: none;
    outline: none;
		background-color: inherit;
		text-decoration: underline;
		text-decoration-color: #5F37B6;
		color: #393C41;
		font-size: 16px;
		font-weight: 600;
}

@media (width >= 1400px) {

.header__open {
		display: none;
	}

.header__container {
	max-width: 1400px;
	margin: 0 auto;
}
.header__nav {
	margin-left: 60px;
	align-items: center;
	justify-content: flex-start;
}
}
