.hello__container {
	width: 1400px;
	margin: 0 auto;
	padding: 56px 15px;
	display: flex;
}

.hello__info {
  margin-right: 100px;
}

.hello__title {
	font-size: 26px;
	font-weight: 700;
	line-height: 36px;
	letter-spacing: 0.04px;
	max-width: 540px;
	text-transform: uppercase;
}

.hello__desc {
	font-weight: 400;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.3px;
	margin-bottom: 40px;
	max-width: 540px;
}


.hello__btn {
	padding: 13px 24px;
	background: rgb(182,55,142);
	background: linear-gradient(90deg, rgba(182,55,142,1) 0%, rgba(204,46,122,1) 100%);
	color: #FFFFFF;
	border-radius: 8px;
	text-decoration: none;
	font-size: 15px;
	font-weight: 600;
}
