.hello__container {
	width: 100%;
	padding: 20px 15px 40px 15px;
	position: relative;
	background-image: url('../../images/hello-slider/Vector.svg');
	background-size: cover;
	background-repeat: no-repeat;
  background-position-x: right;
}

.header__nav {
	display: flex;
	align-items: center;
}

.hello__title {
	font-size: 18px;
	font-weight: 700;
	line-height: 26px;
	letter-spacing: 0.04px;
	text-transform: uppercase;
	max-width: 450px;
}

.hello__desc {
	font-weight: 400;
	font-size: 14px;
	line-height: 24px;
	letter-spacing: 0.3px;
	margin-bottom: 20px;
	max-width: 450px;
}


.hello__btn {
	display: flex;
	max-width: 230px;
	justify-content: space-between;
	padding: 13px 24px;
	background: rgb(182,55,142);
	background: linear-gradient(90deg, rgba(182,55,142,1) 0%, rgba(204,46,122,1) 100%);
	color: #FFFFFF;
	border-radius: 8px;
	text-decoration: none;
	font-size: 13px;
	font-weight: 600;
	margin-bottom: 25px;
}

.hello__slide {
  display: flex;
  align-items: center;
	justify-content: space-between;
}

.hello__info {
	padding-right: 15px;
}

.hello__img {
	display: none;
}

.hello__controls {
	bottom: 0;
	max-width: 500px;
}

.hello .hello__control {
	width: 93px !important;
	height: 4px;
	border-radius: 6px;
	border: none;
	outline: none;
	background-color: #E5DAFB;
	margin-right: 10px;
	cursor: pointer;
}

.swiper-slide-thumb-active {
  background-color: #83E967 !important;
}


@media (width >= 768px) {
	.hello__img {
		display: block;
	}

}

@media (width >= 1200px) {
  .hello__container {
	  max-width: 1200px;
	  margin: 0 auto;
		padding-bottom: 95px;
	  background-size: contain;
  }

  .hello__info {
    margin-right: 100px;
  }

  .hello__title {
	  font-size: 26px;
	  line-height: 36px;
	  max-width: 540px;
  }

  .hello__desc {
	  font-weight: 400;
	  font-size: 16px;
	  line-height: 24px;
	  letter-spacing: 0.3px;
	  margin-bottom: 40px;
	  max-width: 540px;
  }

  .hello__btn {
	  font-size: 15px;
	  max-width: 250px;
  }

  .hello__controls {
	  bottom: 0;
	  max-width: 500px;
  }

  .hello .hello__control {
	  width: 93px !important;
	  height: 4px;
	  border-radius: 6px;
	  border: none;
	  outline: none;
	  background-color: #E5DAFB;
	  margin-right: 10px;
	  cursor: pointer;
  }
}
