.menu {
	display: none;
  height: auto;
	list-style: none;
	align-items: center;
	gap: 30px;
}

.menu--open {
	display: block;
	position: absolute;
	left: 0;
	top: 61px;
	right: 0;
	z-index: 10;
	background-color: #ffffff;
	padding: 15px;
}

.menu__item {
	margin-bottom: 12px;
}

.menu__link {
	display: flex;
	align-items: center;
	gap: 10px;
	text-decoration: none;
}

.menu__text {
	color: #393C41;
	letter-spacing: 0.04px;
	font-size: 15px;
	font-weight: 600;
	text-transform: uppercase;
}

@media (width >= 768px) {
  .menu {
	  display: flex;
  }

  .menu--open {
	  display: none;
  }
}

@media (width >= 990px) {
  .menu {
	  padding-left: 97px;
  }
}


@media (width >= 1200px) {
  .menu {
	  gap: 63px;
  }
}
